<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741796999146-pagjt5tjhnc2gcuk4li3kp5hbqbgjc1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741796999146-pagjt5tjhnc2gcuk4li3kp5hbqbgjc1c</string>
	<key>API_KEY</key>
	<string>AIzaSyD5vuAjld6nF40Wez_WNMItIkftkbFQdGU</string>
	<key>GCM_SENDER_ID</key>
	<string>741796999146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Josef-Jakobsson.bookLab</string>
	<key>PROJECT_ID</key>
	<string>booklab-d83f3</string>
	<key>STORAGE_BUCKET</key>
	<string>booklab-d83f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741796999146:ios:bd7efdaeb8b9b8287f4c93</string>
</dict>
</plist>